
html {
  box-sizing: border-box;
}

body {
  margin: 15;
  min-height: 100vh;
  text-align: center;

  margin: 0 auto;
  max-width: 1230px;
}

.loader {
  font-size: 26px;
}

.loaded {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;

  width: 1200px;
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 300px;
  border: 3px solid grey;
  margin: 10px;
}
